<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="static/components/grid.min.css">
<!--    <link rel="stylesheet" type="text/css" href="static/components/message.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="static/components/icon.min.css">-->
    <title>Welcome</title>
    <style type="text/css">
      body {
        background-color: aliceblue
      }
      h1 {
        font-size: 50px !important;
        color: skyblue !important;
      }
    </style>
  </head>
  <body>
    <div class="ui container grid">
      <div class="ui middle aligned column centered fifteen wide grid">
        <div class="row"></div>
        <div class="row">
          <div clas="column wide grid">
            <div class="ui text segment">
              <h1 class="ui header">Congratulations!</h1>
              <h2 class="ui header">You have done all the experiments, thanks for your contributions.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
