<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/semantic.css"/>
    <script type="text/javascript" src="static/jquery-2.2.2.js"></script>
    <script type="text/javascript" src="static/semantic.js"></script>
    <!-- <script type="text/javascript" src="static/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="static/jquery.SuperSlide.2.1.1.js"></script>--> 
    <link rel="stylesheet" type="text/css" href="static/components/grid.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/message.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/icon.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/progress.min.css">

    <script type="text/javascript" src="static/components/progress.min.js"></script>
    <title>Welcome</title>
    <style type="text/css">
      body {
        background-color: aliceblue
      }
      .pics {
        background-color: white
      }
      .dimmer.choose_me {
        background-color: rgba(0,130,0,0.4) !important;
      }
      .dimmer.discard_me {
        background-color: rgba(200,0,0,0.4) !important;
      }
      .invisible {
        z-index: 100000;
        width: 40%;
        height: 30%;
        position: absolute;
        top: 35%;
        left: 30%;  
        color: black;
      }
      .param {
        padding-top:2px;
        padding-bottom:2px
      }
    </style>
  </head>
  <body>
  <div class="ui inverted teal vertical segment">
      <div class="ui page grid">
      <div class="column">
        <h2 class="ui inverted teal header">3D-Printing oriented algorithms evaluation</h2>
        <p>Data collection system</p>
        </div>
      </div>
    </div>
  </div>

    <div class="ui container">
      <div class="ui stackable grid">
        <div class="ui row"></div>
        <div class="ui row">
          <div class="ui left floated six wide column pics left_part">
            <a href="javascript:choose_left();"><div class="invisible left_trigger"></div></a>
            <div class="ui label">
              <i class="puzzle icon large"></i> <font size="3">{{nb_left}}&nbsp;&nbsp;parts</font>
            </div>
            <div class="ui grid">
<!--              {% for image in left_images %}-->
<!--              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{image}}"/></div>-->
<!--              {% endfor %}-->

<!-- <div class="ui one wide column">
        <div class="banner-box">
<div class="bd">
        <ul>                
            <li style="background:#F3E5D8;">
                <div class="m-width">
                <a href="javascript:void(0);"><img src="static/images/img1.jpg" /></a>
                </div>
            </li>
            <li style="background:#B01415">
                <div class="m-width">
                <a href="javascript:void(0);"><img src="static/images/img2.jpg" /></a>
                </div>
            </li>
            <li style="background:#C49803;">
                <div class="m-width">
                <a href="javascript:void(0);"><img src="static/images/img3.jpg" /></a>
                </div>
            </li>
            <li style="background:#FDFDF5">
                <div class="m-width">
                <a href="javascript:void(0);"><img src="static/images/img4.jpg" /></a>
                </div>
            </li>  
         
        </ul>
    </div>
    <div class="banner-btn">
        <a class="prev" href="javascript:dasdvoid(0);"></a>
        <a class="next" href="javascript:daddasvoid(0);"></a>
        <div class="hd"><ul></ul></div>
    </div>
</div>
</div> -->
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{left_id}}.0.jpg"/></div>
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{left_id}}.1.jpg"/></div>
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{left_id}}.2.jpg"/></div>
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{left_id}}.3.jpg"/></div>

            </div>
            <div class="ui dimmer choose_me">
              <div class="content">
                <div class="center">
                  <h2 class="ui inverted icon header">
                    <i class="checkmark icon"></i>
                      I like this!
                  </h2>
                </div>
              </div>
            </div>
            <div class="ui dimmer discard_me">
              <div class="content">
                <div class="center">
                  <h2 class="ui inverted icon header">
                    <i class="remove icon"></i>
                      Poor...
                  </h2>
                </div>
              </div>
            </div>

            <div class="column">
             <div class="ui move reveal">
              <div class="visible content">
                <div class="ui vertical fluid menu">
                  {% for name, value in params_right %}
                  <div class='item'><b>{{name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class = "question icon"></i>
                 
                  </div>
                  {% endfor %}
                </div>
                </div>
              <div class="hidden content">
                  <div class="ui vertical fluid menu">
                  {% for name, value in params_right %}
                  <div class='item'><b>{{name}}</b> (value = {{value}})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {% if value > params_left[loop.index - 1][1] %}  
                    <i class="thumbs down icon"></i>
                    <a class="ui red label"> {{(100 * (value - params_left[loop.index - 1][1]) / params_left[loop.index - 1][1])|round(2,'floor')}} % </a>
                    
                  {% else %}
                    <i class="thumbs up icon"></i>
                    <a class="ui green label">{{(100 * (params_left[loop.index - 1][1] - value) / value)|round(2,'floor')}} %</a>
                  {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            </div>
<!--             <div class='ui sixteen wide column'>
              {% for name, value in params_right %}
              <div class='ui row param'><div class='ui label large'>{{name}}: <i class="thumbs {{value}} icon"></i></div></div>
              {% endfor %}
            </div> -->
          </div>

          <!-- structural introduction -->
          <div class="ui three wide column">
              <br>
              <div class="ui grid">
              <div class="ui raised segment">
              <a class="ui red ribbon label">Notice</a>
              <span><b>Stress/Strain map</b></span>
              <div class="ui sixteen wide column"><img class="ui fluid image" src="static/images/Armadillo.jpg"/></div>
              <br>
              <p>
                <p align="center"><b>Explaniation</b></p>
                We adopt Finite Element Method (FEM) to simulate real-world dropping cases. In our experiments,
                sixteen directions were randomly picked to drop the 3D printed model, the above figure shows
                the stress/strain distribution on surface.
              </p>
              <div class="ui sixteen wide column"><img class="ui fluid image" src="static/images/color_map.png"/></div>
              <td><div style="float:left;"><i class="pointing up icon"></i>SAFE</div><div style="float:right;">UNSAFE<i class="pointing up icon"></i></div></td>
              </div>
              </div>
          </div>
          
          <div class="ui right floated six wide column pics right_part">
            <a href="javascript:choose_right();"><div class="invisible right_trigger"></div></a>
            <div class="ui label">
              <i class="puzzle icon large"></i> <font size="3">{{nb_right}}&nbsp;&nbsp;parts</font>
            </div>
            <div class="ui grid">
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{right_id}}.0.jpg"/></div>
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{right_id}}.1.jpg"/></div>
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{right_id}}.2.jpg"/></div>
              <div class="ui eight wide column"><img class="ui fluid image" src="static/images/{{right_id}}.3.jpg"/></div>
            </div>
            <div class="ui dimmer choose_me">
              <div class="content">
                <div class="center">
                  <h2 class="ui inverted icon header">
                    <i class="checkmark icon"></i>
                      I like this!
                  </h2>
                </div>
              </div>
            </div>
            <div class="ui dimmer discard_me">
              <div class="content">
                <div class="center">
                  <h2 class="ui inverted icon header">
                    <i class="remove icon"></i>
                      Poor...
                  </h2>
                </div>
              </div>
            </div>
            <div class="column">
             <div class="ui move right reveal">
              <div class="visible content">
                <div class="ui vertical fluid menu">
                  {% for name, value in params_right %}
                  <div class='item'><b>{{name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class = "question icon"></i>
                 
                  </div>
                  {% endfor %}
                </div>
                </div>
              <div class="hidden content">
              <div class="ui vertical fluid menu">
                {% for name, value in params_left %}
                <div class='item'><b>{{name}}</b> (value = {{value}})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if value > params_right[loop.index - 1][1] %}  
                  <i class="thumbs down icon"></i>
                  <a class="ui red label"> {{(100 * (value - params_right[loop.index - 1][1]) / params_right[loop.index - 1][1])|round(2,'floor')}} % </a>
                  
                {% else %}
                  <i class="thumbs up icon"></i>
                  <a class="ui green label">{{(100 * (params_right[loop.index - 1][1] - value) / value)|round(2,'floor')}} %</a>
                {% endif %}
                </div>
                {% endfor %}
              </div>
              </div>
              </div>
            </div>
<!-- 
            <div class='ui eight wide column centered grid'>
              {% for name, value in params_left %}
              <div class='ui row param'><div class='ui label big'>{{name}}: <i class="thumbs {{value}} icon"></i></div></div>
              {% endfor %}
            </div> -->
          </div>
        </div>
          <div class="ui row centered">
            <div class="ui eight wide column">
              <div class="ui blue progress active" data-percent="{{progress}}">
                <div class="bar"></div>
                <div class="label">You are in Group[{{group}}]: No. {{progress}}/10</div>
              </div>
            </div>
        </div>

      </div>
    </div>
    <script>
      
      $(document).ready(function () {
        $('.dimmer').dimmer({
//          closable: false,
        }); 
        $('.progress').progress();



      });

      $('.left_trigger').hover(
        function(){
          $('.left_part .dimmer.choose_me').dimmer('show');
          $('.right_part .dimmer.discard_me').dimmer('show');
        },
        function(){
          $('.left_part .dimmer.choose_me').dimmer('hide');
          $('.right_part .dimmer.discard_me').dimmer('hide');
        });
      $('.right_trigger').hover(
        function(){
          $('.right_part .dimmer.choose_me').dimmer('show');
          $('.left_part .dimmer.discard_me').dimmer('show');
        },
        function(){
          $('.right_part .dimmer.choose_me').dimmer('hide');
          $('.left_part .dimmer.discard_me').dimmer('hide');
        });
      var left_id = '{{left_id}}';
      var right_id = '{{right_id}}';
      function choose_left() {
        $.post('/choose', {left:left_id, right:right_id, choice: left_id}, function(data, status){window.location.href='/'}); 
      }
      function choose_right() {
        $.post('/choose', {left:left_id, right:right_id, choice: right_id}, function(data, status){window.location.href='/'});
      }
      $('.up.icon').addClass('green');
      $('.down.icon').addClass('red');
      $('.')
    </script>
  </body>
</html>
