<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="static/components/grid.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/message.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/icon.min.css">
    <title>Welcome</title>
    <style type="text/css">
      body {
        background-color: aliceblue
      }
    </style>
  </head>
  <body>
    <div class="ui container grid">
      <div class="ui middle aligned column centered twelve wide grid">
        <div class="row"></div>
        <div class="row">
          <div clas="column grid">
            <div class="ui text container segment blue">
              <h1 class="ui header">Tutorial</h1>
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="ui twelve wide column grid">
            <div class="ui icon message">
              <i class="info icon blue"></i>
              <div class="content">
                <p><font size = "4">With the mature of desktop 3D printers, people are gradually falling love with this rapid and convenient tools to build 3D models. One of the key problems in desktop 3D printers is the limited printing size, which impedes their wide range applications. This problem has been well studied in research fields, most of the proposed methods decompose a given large-size model into several printable sub-parts which can be assembled by means of connectors, screws, glues or self-interlocking. In the following experiments, you will be given some pairs resulted from the state-of-art algorithms, what you need to do is to select which one you favors better.
                <br>
                <br>
                <b><a class="link" href='/'>Press here to start!</a></1></b></font></p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
