<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="static/components/grid.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/message.min.css">
    <link rel="stylesheet" type="text/css" href="static/components/icon.min.css">
    <title>Welcome</title>
    <style type="text/css">
      body {
        background-color: aliceblue
      }
    </style>
  </head>
  <body>
    <div class="ui container grid">
      <div class="ui middle aligned column centered twelve wide grid">
        <div class="row"></div>
        <div class="row">
          <div clas="column grid">
            <div class="ui text container segment blue">
              <h2 class="ui header">Welcome to participant our 3D-Printing-Oriented Decomposition Algorithms experiments!</h1>
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="ui ten wide column grid">


            <div class="ui middle aligned center aligned grid">
              <div class="column">
                <div class="ui icon message">
                <i class="info icon teal"></i>
                  <div class="content">
                    <p><font size="4"><b>Please enter a name (>3 characters) to login.</b></font></p>
                  </div>
                </div>
                <form class="ui large form" action='/login' method='post'>
                  <div class="ui stacked segment">
                    <div class="field">
                      <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Enter your name">
                      </div>
                    </div>
                    <button class="ui button teal" type="submit">Login</button>
                  </div>
                  <div class="ui error message"></div>

                </form>

                <div class="ui message">
                  Any question? <a href="mailto:wcm_94@163.com">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
